<style>
  img{
    width: 183px;
    height: 28px;
  }
</style>
<%= form_for(_content_var, :remote => true, :id=>"form_new_content") do |f| %>
  <% if _content_var.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(_content_var.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% _content_var.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="disabledTextInput">Descripción español</label>
    <%= f.text_area :es_description, :class => "form-control", :placeholder => "Descripción español", :required => "required" %>
  </div>
  <div class="form-group">
    <label for="disabledTextInput">Descripción ingles</label>
    <%= f.text_area :en_description, :class => "form-control", :placeholder => "Descripción ingles", :required => "required" %>
  </div>

  <div class="form-group">
    <label for="disabledTextInput">Imagen URL</label>
    <%= f.number_field :subchapter_id, :class => "form-control",:placeholder => "Imagen URL", :required => "required", :min => "0" %>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>