<h1>Listing contents</h1>

<table>
  <thead>
    <tr>
      <th>Es description</th>
      <th>En description</th>
      <th>Quadrant</th>
      <th>Inner quadrant</th>
      <th>Quadrant type</th>
      <th>Subchapter</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.es_description %></td>
        <td><%= content.en_description %></td>
        <td><%= content.quadrant %></td>
        <td><%= content.inner_quadrant %></td>
        <td><%= content.quadrant_type %></td>
        <td><%= content.subchapter_id %></td>
        <td><%= link_to 'Show', content %></td>
        <td><%= link_to 'Edit', edit_content_path(content) %></td>
        <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', new_content_path %>
