<p id="notice"><%= notice %></p>
<div>
<p>
  <strong>Es description:</strong>
  <span id="page_name" data-mercury="full" contenteditable="true">
  	<%= @content.es_description %>
  </span>
</p>

<p>
  <strong>En description:</strong>
  <%= @content.en_description %>
</p>


<p>
  <strong>Subchapter:</strong>
  <%= @content.subchapter_id %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>