<p id="notice"><%= notice %></p>

<p>
  <strong>Es description:</strong>
  <%= @content.es_description %>
</p>

<p>
  <strong>En description:</strong>
  <%= @content.en_description %>
</p>


<p>
  <strong>Subchapter:</strong>
  <%= @content.subchapter_id %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
