<%= form_for(@multimedium) do |f| %>
  <% if @multimedium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@multimedium.errors.count, "error") %> prohibited this multimedium from being saved:</h2>

      <ul>
      <% @multimedium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :content_id %><br>
    <%= f.number_field :content_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
