<style>
  .bordes{
    border-width: 1px; 
    border-style: solid; 
    border-color: black;
  }
</style>
<h1>Capitulos</h1>


    <% Chapter.all.each do |chapter| %>
      <div class="bordes" id="subchapters">
        <p>chapter-id : <%= chapter.id%> </p>
        <p><b>Español: </b><%= chapter.es_description%></p>
         <p><b>Inglés: </b><%=chapter.en_description%></p>
         <div class="perfiles_control">
             <%= collection_select(:id, :description, Profile.all, :id, :es_description) %>
             <a href="#" data-profile-id="<%= chapter.id %>" class="agregar_perfil"> Agregar Perfil a Subcapitulo</a>
         </div>
          
          <ul>
          <% chapter.profiles.all.each do |profile| %>
          <li class="bordes">
            <%= profile.es_description %> 
            <p  class="listaPerfiles" data-profile-id="<%= profile.id %>" data-subchapter-id="<%= chapter.id%>">
            <b > borrar</b>
           </p>
          </li>
          <% end %>
            </ul>
            <br>
          </p>

        <p><%= link_to 'Show', chapter %>
        <%= link_to 'Edit', edit_chapter_path(chapter) %>
       <%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          
      </div>
      <br>
    <% end %>

<br>

<%= render :partial => '/chapters/form_ajax',locals: {_chapter_var: Chapter.new} %>