<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Capitulos</h1>
    </div>
</div>
<div class="row">
  <div class="col-lg-12 text-right">
    <button class="btn btn-primary" data-toggle="modal" data-target="#newChapter">
      Nuevo Capitulo
    </button>
  </div>
</div>
<br>


    <% Chapter.all.each do |chapter| %>
      <div class="bordes" id="subchapters">
        <p>chapter-id : <%= chapter.id%> </p>
        <p><b>Español: </b><%= chapter.es_description%></p>
         <p><b>Inglés: </b><%=chapter.en_description%></p>
         <div class="perfiles_control">
             <%= collection_select(:id, :description, Profile.all, :id, :es_description) %>
             <a href="#" data-profile-id="<%= chapter.id %>" class="agregar_perfil"> Agregar Perfil a Subcapitulo</a>
         </div>
          
          <ul>
          <% chapter.profiles.all.each do |profile| %>
          <li class="bordes">
            <%= profile.es_description %> 
            <p  class="listaPerfiles" data-profile-id="<%= profile.id %>" data-subchapter-id="<%= chapter.id%>">
            <b > borrar</b>
           </p>
          </li>
          <% end %>
            </ul>
            <br>
          </p>

        <p><%= link_to 'Show', chapter %>
        <%= link_to 'Edit', edit_chapter_path(chapter) %>
       <%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          
      </div>
      <br>
    <% end %>

<br>
<!-- Modal Nuevo -->
<div class="modal fade" id="newChapter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Nueva Categoria</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => '/chapters/form_ajax',locals: {_chapter_var: Chapter.new} %>
      </div>
    </div>
  </div>
</div>
