<body id="vbackground" class="fondo-body">
    <div class="fondo-body visible-xs">
                <div class="container intro-fondo-m">
                    <div class="row text-right">
                        <a href="#" class="btn btn-transparenre-m btn-xs">
                            <span class="glyphicon glyphicon-globe"></span>Ingles
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <center>
                                <%= image_tag("aniversario.png",:class=>"img-responsive") %>
                           </center>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="row text-center">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="intro-message-m">
                                    <h1 class="intro-titulo">Anuario Económico Municipal 2014 <!-- <span class="_color">_</span> --></h1>
                                   
                                    <hr>
                                    <br>
                                    <h4 class="aller">Antes de continuar, ¿Te gustaria que destacaramos tu contenido según tu perfil?</h4>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row text-center">
                            <div class="col-lg-12">
                                    <!-- container-visible-xs -->
                                    <div class="container">
                                        <div class="row visible-xs">
                                            <a href="#" class="btn btn-transparenre-m btn-lg btn-block">
                                                <span class="glyphicon glyphicon-home"></span>
                                                Ciudadano
                                            </a>
                                            <a href="#" class="btn btn-transparenre-m btn-lg btn-block">
                                                <span class="glyphicon glyphicon-book"></span>
                                                Estudiante
                                            </a>
                                            <a href="#" class="btn btn-transparenre-m btn-lg btn-block">
                                                <span class="glyphicon glyphicon-briefcase"></span>
                                                Empresario
                                            </a>
                                            <a href="#" class="btn btn-transparenre-m btn-lg btn-block">
                                                <span class="glyphicon glyphicon-usd"></span>
                                                Inversionista
                                            </a>
                                            <a href="#" class="btn btn-transparenre-m btn-lg btn-block">
                                                <span class="glyphicon glyphicon-user"></span>
                                                Sin perfil
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><br><br><br>
                    </div><!-- /.container -->
                <footer>
                    <div id="footer" class="container">
                        <div class="row text-center">
                            <div class="fondo-logo-index">p</div>  
                            <div class="logo-index">
                                <center><%= image_tag("logo-municipio.png",:class=>"img-responsive bordr-img") %></center>
                            </div>          
                        </div>
                    </div>
                </footer>
    </div>

    <div class="hidden-xs intro-fondo">
                <div class="container">
                    <div class="row text-right">
                        <a href="#" class="btn btn-transparenre btn-xs"><span class="glyphicon glyphicon-globe"></span> Ingles</a>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <center><%= image_tag("aniversario.png",:class=>"img-responsive") %></center>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="row text-center">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="intro-message pos-fond">
                                    <h1 class="intro-titulo">Anuario Económico Municipal 2014 <!-- <span class="_color">_</span> --></h1>
                                    <hr>
                                    <h4 class="aller">Antes de continuar, ¿Te gustaria que destacaramos tu contenido según tu perfil?</h4>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="row text-center">
                            <div class="col-lg-12">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#" class="btn btn-transparenre btn-lg">
                                                <span class="glyphicon glyphicon-home"></span>
                                                Ciudadano
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-transparenre btn-lg">
                                                <span class="glyphicon glyphicon-book"></span>
                                                Estudiante
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-transparenre btn-lg">
                                                <span class="glyphicon glyphicon-briefcase"></span>
                                                Empresario
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-transparenre btn-lg">
                                                <span class="glyphicon glyphicon-usd"></span>
                                                Inversionista
                                            </a>
                                        </li>
                                        <br><br>
                                        <li>
                                            <a href="#" class="btn btn-transparenre btn-lg btn-block">
                                                <span class="glyphicon glyphicon-user"></span>
                                                Sin perfil
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div><br><br>
                    </div><!-- /.container -->
                <footer>
                    <div id="footer" class="container">
                        <div class="row text-center">
                            <div class="fondo-logo-index">p</div>  
                            <div class="logo-index">
                                <center><%= image_tag("logo-municipio.png",:class=>"img-responsive bordr-img") %></center>
                            </div>          
                        </div>
                    </div>
                </footer>
    </div>

    <%= render :partial => "home/outdatedBrowser" %>

    <!-- Plugin Video Background -->
    <%= javascript_include_tag "vendor/jquery.backgroundvideo.min" %>
    <%= javascript_include_tag "init.functions.contents" %>
</body>