<body id="vbackground" >
<div class="fondo-body visible-xs">
            <div class="container">
                <div class="row text-right">
                    <a href="#" class="btn btn-transparenre btn-xs"><span class="glyphicon glyphicon-globe"></span> Ingles</a>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <center>
                            <%= image_tag("aniversario.png",:class=>"img-responsive") %>
                       </center>
                    </div>
                </div>
                <div class="text-center intro-fondo">
                    <div class="row text-center">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="intro-message">
                                <h1 class="intro-titulo"><!-- <span class="_color">_</span> --></h1>
                                <br>    
                                <p class=" aller"> <!-- class="intro-fondo" -->
                                    Herramienta útil, accesible y dinámica que contiene los elementos básicos para el análisis del contexto geográfico, económico, político y social de esta demarcación territorial, además de facilitar la toma de decisiones y ser un mecanismo de promoción del municipio.
                                </p>
                                <hr>
                                <h4 class="aller">Antes de continuar, Te gustaria que destacaramos tu contenido según tu perfil?</h4>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-12">
                                <!-- container-visible-xs -->
                                <div class="container">
                                    <div class="row visible-xs">
                                        <a href="#" class="btn btn-transparenre btn-lg btn-block">
                                            <span class="glyphicon glyphicon-home"></span>
                                            Ciudadano
                                        </a>
                                        <br>
                                        <a href="#" class="btn btn-transparenre btn-lg btn-block">
                                            <span class="glyphicon glyphicon-book"></span>
                                            Estudiante
                                        </a>
                                        <br>
                                        <a href="#" class="btn btn-transparenre btn-lg btn-block">
                                            <span class="glyphicon glyphicon-briefcase"></span>
                                            Empresario
                                        </a>
                                        <br>
                                        <a href="#" class="btn btn-transparenre btn-lg btn-block">
                                            <span class="glyphicon glyphicon-usd"></span>
                                            Inversionista
                                        </a>
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <a href="#">continuar sin perfil</a>
                            </div>
                        </div>

                    </div><br><br><br><br><br><br><br>
                </div><!-- /.container -->
            <footer>
                <div id="footer" class="container">
                    <div class="row text-center">
                        <div class="logo-index">
                        <center>
                            <%= image_tag("logo-municipio.png",:class=>"img-responsive img-rounded") %>
                        </center>
                        </div>          
                    </div>
                </div>
            </footer>
        </div>

        <div class="hidden-xs">
            <div class="container">
                <div class="row text-right">
                    <a href="#" class="btn btn-transparenre btn-xs"><span class="glyphicon glyphicon-globe"></span> Ingles</a>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <center><%= image_tag("aniversario.png",:class=>"img-responsive") %></center>
                    </div>
                </div>
                <div class="text-center intro-fondo">
                    <div class="row text-center">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="intro-message">
                                <h1 class="intro-titulo">Anuario Económico Municipal 2014 <!-- <span class="_color">_</span> --></h1>
                                <br>    
                                <p class=" aller"> <!-- class="intro-fondo" -->
                                    Herramienta útil, accesible y dinámica que contiene los elementos básicos para el análisis del contexto geográfico, económico, político y social de esta demarcación territorial, además de facilitar la toma de decisiones y ser un mecanismo de promoción del municipio.
                                </p>
                                <hr>
                                <h4 class="aller">Antes de continuar, Te gustaria que destacaramos tu contenido según tu perfil?</h4>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-12">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="btn btn-transparenre btn-lg">
                                            <span class="glyphicon glyphicon-home"></span>
                                            Ciudadano
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-transparenre btn-lg">
                                            <span class="glyphicon glyphicon-book"></span>
                                            Estudiante
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-transparenre btn-lg">
                                            <span class="glyphicon glyphicon-briefcase"></span>
                                            Empresario
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-transparenre btn-lg">
                                            <span class="glyphicon glyphicon-usd"></span>
                                            Inversionista
                                        </a>
                                    </li>
                                </ul>
                                <br>
                                <a href="#">continuar sin perfil</a>
                                
                            </div>
                        </div>

                    </div><br><br><br><br><br><br><br>
                </div><!-- /.container -->
            <footer>
                <div id="footer" class="container">
                    <div class="row text-center">
                        <div class="logo-index">
                            <center><%= image_tag("logo-municipio.png",:class=>"img-responsive img-rounded") %></center>
                        </div>          
                    </div>
                </div>
            </footer>
        </div>

        <!-- ============= Outdated Browser ============= -->
        <div id="outdated">
             <h6>Su navegador no esta actualizado!</h6>
             <p>ACTUALICE SU NAVEGADOR PARA VISUALIZAR ESTA PÁGINA WEB CORRECTAMENTE. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Actualizar mi navigador ahora </a></p>
             <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
        </div>

        <!-- javascript includes -->
        <!--<script src="assets/outdatedBrowser/outdatedBrowser.min.js"></script>-->
        <!-- <%= javascript_include_tag "outdatedBrowser/outdatedBrowser.min" %> -->

        <!-- plugin call -->
        <script>
            //event listener form DOM ready
            function addLoadEvent(func) {
                var oldonload = window.onload;
                if (typeof window.onload != 'function') {
                    window.onload = func;
                } else {
                    window.onload = function() {
                        oldonload();
                        func();
                    }
                }
            }
            //call function after DOM ready
            addLoadEvent(
                outdatedBrowser({
                    bgColor: '#f25648',
                    color: '#ffffff',
                    lowerThan: 'transform'
                })
            );
        </script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- <%= javascript_include_tag "vendor/bootstrap" %>-->
        <!--<script src="assets"></script>-->
        <!-- video fondo -->
       <!-- <%= javascript_include_tag "vendor/jquery.backgroundvideo.min" %>-->
        <!--<script src="assets/vendor/jquery.backgroundvideo.min.js"></script>-->
    </body>